
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Burasi Index sayfasidir.</h1>
        <p1>Merhaba Dunya</p1>
        
    </div>
</body>
</html>
