
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategoriler</title>
</head>
<body>
    <div> 
        <h1> Burasi kategoriler sayfasi</h1>
        
    </div>
</body>
</html>
